<div class="mb-3">
    <form>
        <label class="form-label mt-1">
            Description
        </label>
        <input type="text" class="form-control mt-1">

        <label class="form-label mt-1">
            Owner
        </label>
        <input type="text" class="form-control mt-1">

        <label class="form-label mt-1">
            Signature 1
        </label>
        <input type="text" class="form-control mt-1">

        <label class="form-label mt-1">
            Signature 2
        </label>
        <input type="text" class="form-control mt-1">

        <label class="form-label mt-1">
            Signature 3
        </label>
        <input type="text" class="form-control mt-1">
    </form>

</div>
