<div class="container-md">

  <div class="row">
    <div class="col-md-12 border border-secondary border-2 rounded mt-4">
      <div class="row">
        <div class="col-md-10">
          Cosas
        </div>
        <div class="col-md-2">
          <app-wallet></app-wallet>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 border border-secondary border-2 rounded mt-4">
      <app-form></app-form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 border border-secondary border-2 rounded mt-4">
      <div class="mt-5">
        <app-file></app-file>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 border border-secondary border-2 rounded mt-4">
      Footer
    </div>
  </div>

</div>