<!-- <div class="container px-4 text-center">

  <div class="row">
    <div class="col-12 xxl- border border-secondary border-3 opacity-75 rounded mt-4">
      <div class="row">
        <div class="col-9 col-xxl-4">
          Hola
        </div>
        <div class="col-3 col-xxl-8">
          <button class="btn btn-primary mt-2 mb-2">
            Metamask
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 xxl- border border-secondary border-3 opacity-75 rounded mt-4">
      col-4
    </div>
    <div class="col-8 xxl- border border-secondary border-3 opacity-75 rounded mt-4">
      col-8
    </div>
  </div>

</div> -->

<div class="container text-center">

  <div class="row">
    <div class="col-sm-12 border border-secondary border-3 opacity-75 rounded mt-4">
      <div class="row">
        <div class="col-sm-9">
          Cosas
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary mt-2 mb-2">
            Metamask
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 border border-secondary border-3 opacity-75 rounded mt-4">col-sm</div>
    <div class="col-sm-8 border border-secondary border-3 opacity-75 rounded mt-4">col-sm</div>
  </div>

  <div class="row">
    <div class="col-sm-12 border border-secondary border-3 opacity-75 rounded mt-4">
      Footer
    </div>
  </div>

</div>