<div class="container-md">

  <router-outlet></router-outlet>

  <div class="row">
    <div class="col-md-12 shadow-lg border border-secondary border-2 rounded mt-4">
      <div class="row">
        <div class="col-md-3 mt-2">
          <p class="fs-2">
            NotariDapp
          </p>          
        </div>
        <div class="col-md-9 mt-2">
          <app-wallet></app-wallet>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 shadow-lg border border-secondary border-2 rounded mt-4">
      <app-form></app-form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 shadow-lg border border-secondary border-2 rounded mt-4">
      <div class="mt-5">
        <app-file></app-file>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 shadow-lg border border-secondary border-2 rounded mt-4">
      <p class="text-center mt-3">
        This Dapp allows you to validate the identification of documents through the WorldCoinId identity validation protocol, the storage of the documents is decentralized so the information will be immutable for our users
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 shadow-lg border border-secondary border-2 rounded mt-4">
      <div class="row">
        <div class="col-md-3 text-center mt-2 mb-2">
          Discord
        </div>
        <div class="col-md-3 text-center mt-2 mb-2">
          Twitter
        </div>
        <div class="col-md-3 text-center mt-2 mb-2">
          Telegram
        </div>
        <div class="col-md-3 text-center mt-2 mb-2">
          Instagram
        </div>        
      </div>
    </div>
  </div>

</div>